@model NewBookViewModel



<h1>Du har sparat följande uppgifter: </h1>

<p>Title: @Model.Book.Title</p>
<p>Författare: @Model.Book.Author</p>
<p>Antal sidor: @Model.Book.Pages</p>
<p>Kategori: @Model.Book.CategoryName</p>
<p>@Model.Book.StockValue </p>


