@model TransactionViewModel

<div id="">
    <form asp-controller="Account" asp-action="Withdraw">
        <input type="hidden" asp-for="@Model.Account.AccountId" value="@Model.Account.AccountId" />
        <div class="form-group">
            <label asp-for="@Model.Account.AccountId">Account: </label>
            <p>@Model.Account.AccountId</p>
        </div>
        <div class="form-group">
            <input type="hidden" value="@Model.Account.Balance" />
            <label asp-for="@Model.Account.Balance">Balance</label>
            <p>@Model.Account.Balance SEK</p>
        </div>
        <div class="form-group">
            <label asp-for="@Model.Transaction.Amount">Amount</label>
            <input type="text" asp-for="@Model.Transaction.Amount" class="form-control" />
        </div>
        <button type="submit" class="standard-button">Submit</button>
    </form>
</div>
@if (TempData["alertmEssage"] != null)
{
    @TempData["alertMessage"]
}