@model CustomerViewModel

<div class="customer-content">
    @foreach (var item in Model.Customers)
    {
        <a asp-action="CustomerDetails" asp-controller="Home" asp-route-id=@item.CustomerId><span>@item.Givenname @item.Surname</span> <span>@item.NationalId</span></a>
    }
</div>

<div class="pagination">
    @for (var i = 1; i <= Model.TotalPages; i++)
    {
        <a class="standard-button @(i == Model.CurrentPage ? " active" : "" )" asp-route-currentPage="@i" asp-route-city="@Model.City" asp-route-name="@Model.CustomerName" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#CustomerList">@i</a>
    }
</div>