@model CustomerViewModel

@inject SignInManager<IdentityUser> signInManager
@inject UserManager<IdentityUser> userManager
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.ajax.unobtrusive/3.2.4/jquery.unobtrusive-ajax.min.js"></script>

<div class="customer-details">
    <div class="customer-headline">
        <div>
            <div>
                <span>@Model.CustomerName</span>
            </div>
            <div class="customer-details-card">
                <span>@Model.Streetaddress</span>
                <span>@Model.City</span>
                <span>@Model.NationalId</span>
            </div>
        </div>
        <div>
            <span>Total balance: </span><span>@Model.TotalBalance.ToString("C", new CultureInfo("sv-SE"))</span>
        </div>
    </div>
    <div>
        <span>Account number</span>
        <span>Balance</span>
    </div>

    <div class="details-content">

        @foreach (var item in Model.Accounts)
        {
            <div>
                <a asp-action="GetTransactions" asp-controller="Home" data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#TransactionList" method="post" asp-route-id=@item.Id>
                    <span>@item.Id</span>
                    <span> @item.Balance.ToString("C", new CultureInfo("sv-SE"))</span>
                </a>
            </div>
            @if (signInManager.IsSignedIn(User))
            {
                <a class="standard-button" asp-action="Withdraw" asp-controller="Account" asp-route-id=@item.Id>Withdraw</a>

            }
        }
    </div>
</div>
<div id="TransactionList"></div>